@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 14, 10,0.9);
    color: white;
    padding: 1rem 1.2rem;
    gap: 1rem;
}
.nav-logo{
    font-size: 2.5rem;
}
.nav-right{
    display: flex;
    /* flex: 1; */
    /* border: 2px solid white; */
    border-radius: 8px ;
    overflow: hidden;
}
.nav-search{
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: rgba(250, 245, 245, 0.769);
    color: rgb(15, 14, 14);
}
.nav-btn{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: grey;
    color: white;
    border: none;
    outline: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    max-width: 90%;
    margin: 2rem auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100%;
    max-height: 100%; */
    border: 2px solid black;
    padding: 1rem;
    /* gap: 1rem; */
    cursor: pointer;
}
.imagecontainer{
    height: 200px;
    overflow: hidden;
}
.cardimage{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    /* overflow: hidden; */
}
.card-desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
}
.cardtitle{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: start;
    font-family: "Poppins", sans-serif;
}
.cardtext{
    width: 95%;
    font-size: 1.1rem;
    /* font-family: "Poppins", sans-serif; */
}


@media (max-width:1250px){
    .container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1000px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    
}

.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.nav-bottom :nth-child(1){
    background-color: red;
    color: rgb(250, 249, 249);
    padding: .5rem .8rem;
    font-size: 2rem;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* border-radius: 12px; */
}
.nav-bottom :nth-child(2){
    background-color: rgb(12, 0, 0);
    color: rgb(247, 7, 7);
    padding: .5rem .8rem;
    font-size: 2rem;
    font-weight: 500;
    /* border-radius: 12px; */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.hide{
    display: none;
}
@media (max-width:650px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        padding: 0.5rem;
        /* gap: 2rem; */
    }
    .nav-logo{
        font-size: 2rem;
    }
    .nav-search{
        padding: .5rem;
        font-size: 1rem;
        font-weight: 600;
        width: 180px;
        height: 40px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.769);
        color: rgba(252, 249, 249, 0.575);
    }
    .nav-btn{
        padding: 0.5rem;
        font-size: .8rem;
        background-color: grey;
        color: white;
        border: none;
        outline: none;
    }
}

